{% extends 'instagram_pages/base.html'%} {% load bootstrap4 %} {% block content %}


<div class='container'>
    {% include 'navbar.html' %}
    <hr>
    <div class='jumbotron'>


        <div>

            <!-- UPDATE USER PROFILE FORM-->
            <form action="{% url 'editProfile' %}" method="post" enctype='multipart/form-data'>

                {% csrf_token %} {% bootstrap_form updateForm layout='inline' %}

                <div class="form-group">

                    <input type="submit" class="btn btn-primary btn-sm my-2" value="Edit Profile">
                </div>
            </form>


        </div>
    </div>

    {% endblock %}