body {
    font-family: 'Courgette', cursive;
    font-size: 3vh;
}

.navHomeLink {
    font-family: 'Cookie', cursive;
    font-size: 7vh;
}

.navbar {
    font-family: 'Lobster', cursive;
}

.top-buffer {
    margin-top: 5%;
}

form {
    font-family: 'Lobster', cursive;
}

.logo {
    font-family: 'Lobster', cursive;
    font-size: 7vh;
    font-weight: normal;
    margin-top: 3vh;
    margin-bottom: 5vh;
}

.smallFont {
    font-family: 'Lobster', cursive;
    font-size: 2.3vh;
    color: blue;
}

.blueUnderline {
    font-size: 3vh;
    color: blue;
    text-decoration: underline;
}

.userAvatar {
    width: 70px;
    height: 70px;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    border-radius: 50%;
}

.userAvatar img {
    width: 70px;
    height: 70px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50%;
    max-width: 100% !important;
    max-height: 100% !important;
}

.imagePost {
    max-width: 100%;
    max-height: 100%;
}

.searchResults h2 {
    font-family: 'Courgette', cursive;
    font-size: 3vh;
}